// This imports any styles or variables that are in "../../_theme.scss"
@import "../../theme";

div.team {
    div.team-names {
        @include container;
        display: inline-block;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    // This thing makes the hover effect...
    p.name {
        font-size: 160%;
        position: relative;
        width: fit-content;
    
        &::before {
           transform: scaleX(0);
           transform-origin: bottom right;
           content: " ";
           display: block;
           position: absolute;
           top: 0; right: 0; bottom: 0; left: 0;
           inset: 0 0 0 0;
           background: darken($tsblue, 25%);
           transition: transform .4s;
           z-index: -1;
        }
    
        &:hover::before {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
    
    mark.role {
        font-style: italic;
        background: none;
        color: $text;
    }
}