$background: #111;
$hover: #222;
$active: #444;
$text: #fff;

@mixin theme($background-color: $background, $text-color: $text) {
    background-color: $background;
    color: $text;
    font-family: 'Quicksand', sans-serif;
}