$background: #111;
$hover: #222;
$active: #444;
$text: #fff;

$tsblue: #4278d6;
$red: #f33;

@mixin theme($background-color: $background, $text-color: $text) {
    background-color: $background;
    color: $text;
    font-family: 'Quicksand', sans-serif;
}

@mixin container($padding: 20px) {
    border: 2px solid #fff;
    border-radius: 12px;
    padding: $padding;
}