
html {
    --background: #111;
    --text: #fff;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Quicksand', sans-serif;
}

div.app {
    text-align: center;
    width: 100vw;
    padding-top: 40px;
}

div.input-fields {
    border: 2px solid #fff;
    margin: auto;
    width: min-content;
    border-radius: 12px;
}

div.input-field {
    font-size: 130%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 650px;
    margin: auto;
}

div.input-field label {
    font-weight: bold;
    padding: 5px;
}

div.input-field input {
    font-family: 'Quicksand', sans-serif;
    font-size: 120%;
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--background);
    color: var(--text);
}

div.input-field input:focus {
    outline: none;
    background-color: #444;
}

