$background: #111;
$hover: #222;
$active: #444;
$text: #fff;

@mixin theme($background-color: $background, $text-color: $text) {
    background-color: $background;
    color: $text;
    font-family: 'Quicksand', sans-serif;
}

@mixin input-theme {
    border-radius: 12px;

    &:hover {
        background-color: $hover;
    }

    &:active {
        background-color: $active;
    }

    &:focus {
        background-color: $active;
        outline: none;
    }
}

html {
    @include theme;
}

div.app {
    text-align: center;
    padding-top: 80px;
}

div.input-fields {
    border: 2px solid #fff;
    border-radius: 12px;
    margin: auto;
    width: min-content;
}

div.input-field {
    font-size: 130%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 650px;

    label {
        font-weight: bold;
        padding: 5px;
    }

    input {
        @include theme;
        @include input-theme;
        font-size: 120%;
        border: none;
        padding: 5px;
    }
}

input.hidden-checkbox {
    display: none;

    +label {
        @include input-theme;
        grid-column: span 2;
        font-size: 110%;
        color: #f33;
        user-select: none;
    }

    &:checked+label {
        color: #4278d6;
    }
}