/*
This file contains styling that relates to the entire app (including the root element)

IMPORTANT NOTE ABOUT STYLING WITH REACT-ROUTER:
I have set up the scss in multiple files just as a way to show which parts of the 
styling apply to different elements. ALL css styling applies to all parts of the app
when using React-Router, because it actually all runs on the same page.
*/

@import "theme";

html {
    @include theme;
}

div.app {
    text-align: center;
    padding-top: 30px;

    h1.title {
        font-size: 42px;
        padding-bottom: 10px;
    }
}

div.sidenav {
    position: fixed;
    padding: 15px;
    background-color: lighten($background, 5%);
    height: calc(100vh - 50px);
    border-radius: 12px;

    img#navlogo {
        width: 100px;
        top: 30px;
        left: 30px;
    }

    a {
        display: block;
        font-size: 130%;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 15px;    
        transition: background-color 0.2s;
    }

    a:not(:has(#navlogo)):hover {
        background-color: $active;
    }
    
}