@import "theme";

html {
    @include theme;
}

div.app {
    text-align: center;
    padding-top: 30px;

    h1.title {
        font-size: 42px;
        padding-bottom: 10px;
    }
}

#global-logo {
    position: fixed;
    width: 100px;
    top: 30px;
    left: 30px;
}